// font
@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300;400;500&display=swap');

@import 'variables';
@import 'mixins';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	line-height: 1.6em;
}

body {
	font-family: 'Prompt';
}

img {
	max-width: 100%;
	width: 100%;
}

// custom toast
.toast-failed {
	background: linear-gradient(125deg, rgba(233, 77, 77, 0.8) 37%, rgba(106, 0, 255, 0.8) 100%) !important;
	color: #fff;
	font-size: 1.4rem;
	font-weight: 500;
	box-shadow: -2px 2px 4px #333;
	border: 1px solid rgb(122, 119, 119);
}
.toast-success {
	background: linear-gradient(125deg, rgba(113, 233, 77, 0.8) 37%, rgba(106, 0, 255, 0.8) 100%) !important;
	color: #fff;
	font-size: 1.4rem;
	font-weight: 500;
	box-shadow: -2px 2px 4px #333;
	border: 1px solid rgb(122, 119, 119);
}
